.cart{

    display: flex;
    background-color: blue;
}

.cart-sidebar {
    
    display: flex;
    flex-direction: column;
    width: 12vw;
    padding: 2.5vh 1vw 0 1vw;
    border-left: 1px black solid;
    
}

.cart-card{

}

.cart-card-sidebar{


}

.quantity{

    display: flex;
    width: fit-content;
    height: 2.5vh;
    overflow: hidden;

}

.quantity-button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5vw;
    height: 2.5vh;
}

.quantity-number{

    display: flex;
    justify-content: space-around;
    align-items: space-around;
    height: 2.5vh;
    margin: 0 0.4vw 0 0.4vw;
    font-size: larger;
}