
.cart-card{
    
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 40vh;
    margin: 4vh 2.5vw 0 2.5vw;
    padding: 0 2.5vw 0 0vw;
    border-bottom: 3px #6B1A32 solid;
    font-size: larger;

}

.cart-card:last-of-type{

    margin-bottom: 4vh;
}

.cart-card-sidebar{
    
    display: flex;
    flex-direction: column;
    width: 10vw;
    margin-bottom: 2vh;
    border-bottom: 1px black solid;
    padding: 0 0.5vw 2vh 0.5vw;
}

.cart-card-sidebar:last-of-type{

    margin-bottom: 4vh;
}

.cc-thumbnail-container{

    height: 35vh;
    border:4px  #6B1A32 solid;
}

.cc-thumbnail-sidebar-container{

    width: fit-content;
    height: 10vh;
    align-self: center;
    border:4px  #6B1A32 solid;
}
.cart-card-thumbnail{
    
    width: 25vw;
    height: 35vh;
}

.cart-card-sidebar-thumbnail{

    
    height: 10vh;

}

.hidden{

    display: none;
}

.info-container{

    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    height: 35vh;
}
.info-sb-container{

    display: flex;
    flex-direction: column;
}


.info-title-close{

    display: flex;
    width: 10vw;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}

.quantity{

    display: flex;
    width: fit-content;
    height: 2.5vh;
    overflow: hidden;

}

.quantity-button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5vw;
    height: 2.5vh;
}

.quantity-number{

    display: flex;
    justify-content: space-around;
    align-items: space-around;
    height: 2.5vh;
    margin: 0 0.4vw 0 0.4vw;
    font-size: large;
}