.cart{

    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    font-size: larger;
}

.cart-sidebar {
    
    display: flex;
    flex-direction: column;
    width: 12vw;
    padding: 2.5vh 0.5vw 0 0.5vw;
    border-left: 1px black solid;
    
}

.total{

    align-self: end;
    margin-right: 2.5vw;
    display: flex;
    flex-direction: column;
    al-content: end;
}

.checkout-button{

    width: 12vw;
    height: 5vh;
    font-size: 1.3rem;
}